{{yield}}
<nav>
  <ul>
    <li {{action "test"}}>{{#link-to 'index'}}home{{/link-to}}</li>
    <li {{action "test"}}>{{#link-to 'about'}}about{{/link-to}}</li>
    <li {{action "test"}}>test</li>
  </ul>
</nav>